
    <% if  logged_in? %>
    <a href ="/logout">Logout</a>
   
    <% elsif !logged_in?%>
    <p> Please <a href="/create account">Create account</a> or <a href="/login">Log In</a> to continue.
    <% end %>
