
    <% if  logged_in? %>
    <a href ="/logout">Logout</a>
    

   
    <% elsif !logged_in?%>
    <p> Please <a href="/signup">Sign up</a> or <a href="/login">Log In</a> to continue.
    <% end %>
