<%if logged_in? && @lift.user_id == current_user.id%>
<h1>Edit a Lift</h1>


<form action="/lifts/<%= @lift.id %>" method="post" >
	<input id="hidden" type="hidden" name="_method" value="patch"/>

	<label>Current lift: "<%= @lift.name %>"</label>
    Lift:
    <input type="text" name="name"><br>
    Weight:
    <input type="number" name="weight"><br>
    Repetitions:
    <input type="number" name="repetitions"><br>

	<input type="submit" value="Edit" id='submit'/>

</form>
<%else %>

    <h1> You aren't authorized to edit this information </h1>


    
    <%end%>
