<% if flash[:message]%>
    <%=flash[:message]%>
    <%end%>

<form action='/lifts' method="post">
    Lift:
    <input type="text" name="name"><br>
    Weight:
    <input type="number" name="weight"><br>
    Repetitions:
    <input type="number" name="repetitions"><br>

    Log your lift

    <input type="submit" name="submit" value="submit" id="submit">

   

  </form>