<form action='/lifts' method="post">
    Lift:
    <input type="text" name="lift_name"><br>
    <input type="number" name="weight"><br>
    <input type="number" name="repititions"><br>

    Log your lift

    <input type="submit" name="submit" value="submit" id="submit">

   

  </form>